* {
  background-color: rgb(226, 221, 221);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
} */

img {
  width: 100%;
  height: auto;
}

.App {
  width: 100vw;
  height: 80vh;
}

.input-bucket {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.all-bucket {
  display: block;
  width: 60%;
  height: auto;
  margin: 0 auto;
}