* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ul {
    list-style: none;
}

a {
    text-decoration: none;
} */

img {
    width: 100%;
    height: auto;
}

.square {
    padding: 1rem;
    border: solid rgb(194, 194, 4) 1.5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}